/* ------------------------------------ DISPLAY SIMILAR MOVIES --------------------------*/
.movie-card{
    position: relative;
    min-width: 14rem ;
    
    margin: 0.5rem;     border-radius: 1rem;
    backdrop-filter: blur(20px);
    box-shadow: 0 0px 40px 10px rgba(0,0,0,0.37);
    
    display: flex;      flex-direction: column;

    transition: 0.1s;
}
.movie-card:hover{
    background-color: rgba(36, 36, 36, 0.2);
}
.movie-card:active{
    background-color: rgba(85, 84, 95, 0.4);
}

.movie-card > .image-box{
    position: relative;
    width: 13rem;   height: 19rem;
    top: 0.5rem;    left: 0.5rem;
    
    border-radius: 0.6rem;

    display: flex;  flex-direction: column;
    align-items: center;    overflow: hidden;  
}

.movie-card > .info-box{
    position: relative;
    top: 0rem;  left: 1rem;
}

.movie-card > .info-box > .title{
    margin-top: 1rem; margin-bottom: 0.25rem; margin-inline: 0.5rem;

    color: white;
    font-size: 1.5rem;  font-weight: bold;
}

.movie-card > .info-box > .more-info{
    margin-top: 0.25rem; margin-bottom: 1rem; margin-inline: 0.5rem;

    color: rgb(173, 173, 173);
    font-size: 0.9rem;  
}

.related-movies{
    position: relative;
    margin-left: 3rem;
    padding-bottom: 3rem;
}
.related-movies-gird{
    position: relative;
    background-color: transparent;
    border-radius: 1rem;
    display: flex;  flex-direction: row;
    overflow: auto; 
}
/* Track */
::-webkit-scrollbar {
    width: 0.5px; /* Width of the scrollbar */
    height: 2px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888; /* Color of the scrollbar handle */
    border-radius: 3px; /* Rounded corners of the handle */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; /* Color of the scrollbar handle on hover */
}
::-webkit-scrollbar-track {
    background: transparent; /* Background color of the scrollbar track */
}



.footer-div{
    opacity: 0.5;
    padding: 3rem;
    
}
.footer-div > p{
    font-size: 1.1rem;
    margin: 0.25rem;
}
.footer-div > pre{
    font-size: 1rem;
    margin: 0.25rem;
}