<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="css/topBar.css">
    <link rel="stylesheet" href="css/style.css">

    <script src="https://kit.fontawesome.com/663c835d81.js" crossorigin="anonymous"></script>
</head>
<body style="background-color: rgb(21, 25, 27);">

    <!--                Top Bar                 -->
           
    <div class="top-bar"></div>
    <script src="scripts/topBarScripts/addTopBarHtml.js"></script>
    <script>setUser("<%=user %>")</script>
    <script src="scripts/topBarScripts/topBar.js" type="module"></script>
    <div class="movie-grid"></div>   
        
        <script src="scripts/moviePageScripts/getMovieObjects.js"></script>
        <script src="scripts/template.js"></script>
        <script src="scripts/recommender.js"></script>
        <script>
            render('<%= reviewedMovieNames %>')
        </script>
        <!-- since the topBar includes other js files , it has to be treated as a module -->
    
</body>