<!DOCTYPE html>
<head>
    <title>FilmCritic</title>
    <link rel="stylesheet" href="/css/topBar.css">
    <link rel="stylesheet" href="/css/template.css">
    <link rel="stylesheet" href="/css/fonts.css">
    <link rel="stylesheet" href="/css/top100.css">

    <!-- <script src="scripts/template.js"></script> -->
    
    <script src="https://kit.fontawesome.com/663c835d81.js" crossorigin="anonymous"></script>
</head>
<body style="background-color: rgb(21, 25, 27);">

    <!--                Top Bar                 --> 
    <div class="top-bar"></div>
    <script src="/scripts/topBarScripts/addTopBarHtml.js"></script>
    <script>setUser("<%=user %>")</script>
    <script src="/scripts/topBarScripts/topBar.js" type="module"></script>

    <!--    ----------------------------    Movie Grid boxes    ----------------------------    -->
    <div class="movie-grid"></div>
    
    <script type="module">
        import * as template from "/scripts/template.js"

        const movieGrid = document.querySelector(".movie-grid")
        const data = JSON.parse(decodeURIComponent("<%= top100movies %>"))
        // fetch("all_movies.json")
        //     .then(res => res.json())
        //     .then(data => {
        //         data = Object.values(data)
        //         data.sort((a,b) => b.imdbRating - a.imdbRating);
                data.forEach(movie =>{
                    movieGrid.appendChild(template.createMovieTemplateCard(movie)); 
                })  
            // })
    </script>
    
</body>