/*------------------------------ NAVIGATION SIDEBAR ---------------------*/
.navigation-sidebar-backdrop{
    background-color: rgba(6, 7, 7, 0.3);
    backdrop-filter: blur(100px);
    position: absolute;
    top: 0rem ; right : 0rem; bottom: 0rem;
    width: 10rem ;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
}
.navigation-sidebar{
    width: 10rem; 
    position: fixed;
    top: 6rem; right: 0rem;
    z-index: 1;
}
.navigation-sidebar >  button{
    color:white;
    background-color: transparent;
    border: none;
    width: 100%;
    font-size: 1.2rem;
    font-weight: 400;
    font-family: 'raleway';
    margin-top: 0.6rem;
    margin-bottom: 0.6rem;  
    text-align: left;
    font-weight: 500;
    margin-left: 0.5rem;
}


.main-div{
    position: relative;
    margin-top: 1.5rem; margin-left: 1rem; margin-right: 1rem;
    width: calc(100% - 13rem);
    padding-right: 11rem; padding-top: 5rem;
    z-index: 0;
    background-color: rgb(21, 25, 27);
    border-radius: 1.5rem;
    box-shadow: 0px 0px 10px, 10px rgba(0,0,0,0.3);
}
.backdrop-image{
    z-index: -1;
    position: absolute; top: 0rem;
    width: calc(100%);  height: 80%;
    transform: translate(0%, 0%);
    border-radius: 1.5rem;

    background-size: 100% auto;
    background-image: url('image.jpg');
    background-repeat: no-repeat;
    mask-image: radial-gradient(circle at top left, rgba(0,0,0,1) 10%, rgba(0,0,0,0) 60%);
    filter: blur(100px);  
    opacity: 0.6;
}

/*-------------------------------------- OVERVIEW ---------------------------------*/
.overview{
    margin-left: 4rem;
    position: relative;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: row;
    height: fit-content ;
}
.info{
    color: rgba(216, 215, 209, 0.9); 
    padding-left: 5rem; 
    font-weight: 400; 
    font-size: 1.5rem;
} 
.movie-poster{
    min-width: 18rem;
    height: 27rem;
    position: relative;
    margin-right: 3rem;
    border-radius: 0.6rem;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.quote{
    font-style: italic;
    color: white;
    opacity: 0.8;
    text-align: left;
    font-weight: 500;
    font-family: 'Akira Expanded';
    opacity: 0.8;
    letter-spacing: 0.15rem;
    margin: 0px;
}

/*----------------------------------- CAST & CREW -----------------------------*/
.cast-and-crew{
    padding-inline: 3rem; 
    position: relative;
}

.cast-and-crew > ul > li{
    margin-bottom: 1rem;
    transition: all 0.1s;
}
.cast-and-crew > ul > li:hover{
    color: rgb(220, 177, 149);
    font-weight: 500;
    margin-bottom: 1rem;
    cursor: pointer;
}

/*------------------------------------  PLOT ----------------------------------*/

.plot{
    padding-inline: 3rem;
    position: relative;
}

/*----------------------------------- REVIEWS ----------------------------------*/

.reviews{
    padding-inline: 3rem;
    position: relative;
}
.reviews > .contents {
    margin-left: 2rem;
}
/* -- Template -- */

.review-card{
    min-height: fit-content;
    max-height: max-content;
    display: flex; justify-content: space-between; flex-direction: column   ;
    width: auto;
    margin: 1%;
    border-radius: 2rem;
    padding: 0.5rem;
    background-color: rgba(0,0,0, 0.2);
    backdrop-filter: blur(10px);
}
.review-card > .user-and-rating{
    padding : 0rem;
    display: flex; flex-direction: row; justify-content: space-between;
}
.review-card > .user-and-rating > p{
    opacity: 0.8;
    border-radius : 1.5rem;
    margin-top: 0.5rem;
    margin-left: 0.5rem;
    margin-bottom: 0rem;
    padding: 0.5rem;
    padding-inline: 1.5rem;
    background-color: rgba(68, 68, 68, 0.1);
    backdrop-filter: blur(10px);
    box-shadow: 0 0 4px 5px rgba(0,0,0,0.17);
}
.review-card > .review-text{
    padding: 0rem; padding-left: 3rem; 
    font-size: 1.25rem;
}

/* -- user's review display -- */
.reviews > .contents > #user-review-stat{
    font-size: 1rem;
    font-style: italic;
    opacity: 0.5;
    display: inline;
    margin-left: 1rem;
}
.reviews > .contents > .new-review-button{
    background-color: rgba(96, 96, 96, 0.1);
    backdrop-filter: blur(10px);
    color: rgba(255,255,255, 0.8);  
    border: none;
    font-size: 1rem; 
    height: 2.5rem;
    border-radius: 1.25rem;
    padding-inline: 1rem;
    transition: all 0.15s;
}
.reviews > .contents > .new-review-button:hover{
    background-color:  rgba(255 , 183, 119, 0.8);
    color: white;
    font-size: 1.01rem;
    
}
/* -- user review INPUT -- */
.new-review-form{
    width: 100%;
    background-color: rgba(0,0,0,0.2);
    backdrop-filter: blur(10px);
    border-radius: 2rem;
}
.new-review-form > textarea{
    width: calc(99% - 4rem);
    background-color: rgba(60,60,60,0.1);
    border-radius: 1rem;
    margin-top: 4rem;
    margin-bottom: 3.5rem;
    margin-left: 2.5rem;
    padding: 0.5rem ;
    font-size: 1rem;
    border: none;
    color: white;
}
.new-review-form > .rating-input {
    position: absolute;
    top: 1rem; left : 1rem;
    font-size: 1rem;
    border-radius: 1.5rem;
    background-color: rgba(68, 68, 68, 0.1);
    backdrop-filter: blur(10px);
    box-shadow: 0 0 4px 5px rgba(0,0,0,0.17);
    padding: 0.5rem;
    padding-inline: 1rem;
}
.new-review-form > .rating-input > select{

    background-color: rgba(60,60,60,0.1);
    font-size: 1rem;
    color: white;
    border: none;
}
.new-review-form > button {
    position: absolute;
    right: 1rem; bottom: 1rem;  
    font-size: 1rem;
    border: none; border-radius: 1rem;
    padding:0.5rem;
    padding-inline: 1rem;
    color: white;
    background-color: rgba(60,60,60,0.2);
    transition: all 0.15s;
}
.new-review-form > button:hover {
    background-color: rgb(144, 107, 191);
}
/* -- other user's reviews --*/

.reviews > .contents > #otherusers-review-stat{
    font-size: 1rem;
    font-style: italic;
    opacity: 0.5;
    text-align: center;
}
.review-container-with-filter{
    background-color: rgba(0,0,0,0.1);
    padding: 1rem;
    border-radius: 2rem;
}
.review-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.review-container-with-filter > .filter-section{
    display: flex;
    box-shadow: 0 0 2px 3px rgba(0,0,0,0.17) ;
    border-radius: 1rem;
    width: fit-content;
    padding: 0rem;
    margin-left: auto;
    margin-right: 1rem;
}
.filter-section > button {
    color: white;
    background-color: rgba(100, 99, 99, 0.1);
    border: none;
    border-inline: rgba(0,0,0,0.4) 0.1px solid;
    height: 2rem; min-width: 3rem;
    font-weight: 700;
    font-size: 1rem;
    transition: all 0.1s;
    margin: 0rem;
}
.filter-section > button:hover { background-color: rgba(157, 157, 157, 0.1); }
.filter-section > .filter-button.enabled{ background-color: rgb(220, 177, 149) }
.filter-section > .toggle-filter.enabled{ background-color: rgb(144, 107, 191) }


/*-------------------------------------- EXTERNAL REVIEWS ------------------------------*/
.external-review-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.external-reviews{
    padding-inline: 3rem;
    position: relative;
}

/* ------------------------------------ DISPLAY SIMILAR MOVIES --------------------------*/
.movie-card{
    position: relative;
    min-width: 14rem ;
    
    margin: 0.5rem;     border-radius: 1rem;
    backdrop-filter: blur(20px);
    box-shadow: 0 0px 40px 10px rgba(0,0,0,0.37);
    
    display: flex;      flex-direction: column;

    transition: 0.1s;
}
.movie-card:hover{
    background-color: rgba(36, 36, 36, 0.2);
}
.movie-card:active{
    background-color: rgba(85, 84, 95, 0.4);
}

.movie-card > .image-box{
    position: relative;
    width: 13rem;   height: 19rem;
    top: 0.5rem;    left: 0.5rem;
    
    border-radius: 0.6rem;

    display: flex;  flex-direction: column;
    align-items: center;    overflow: hidden;  
}

.movie-card > .info-box{
    position: relative;
    top: 0rem;  left: 1rem;
}

.movie-card > .info-box > .title{
    margin-top: 1rem; margin-bottom: 0.25rem; margin-inline: 0.5rem;

    color: white;
    font-size: 1.5rem;  font-weight: bold;
}

.movie-card > .info-box > .more-info{
    margin-top: 0.25rem; margin-bottom: 1rem; margin-inline: 0.5rem;

    color: rgb(173, 173, 173);
    font-size: 0.9rem;  
}


.similar-movies{
    position: relative;
    display: flex;  flex-direction: row;
    overflow: auto; 
}




