@import url('https://fonts.googleapis.com/css?family=PT%20Sans:700|PT%20Sans:400');

body {
  font-family: 'PT Sans';
  font-size: 1.4rem;
  color: white;
}

h1, h2, h3, h4, h5 {
  font-family: 'PT Sans';
  font-weight: 700;
}

html {font-size: 100%;} /* 16px */

h1 {font-size: 4.210rem; /* 67.36px */}

h2 {font-size: 3.158rem; /* 50.56px */}

h3 {font-size: 2.369rem; /* 37.92px */}

h4 {font-size: 1.777rem; /* 28.48px */}

h5 {font-size: 1.333rem; /* 21.28px */}

small {font-size: 0.750rem; /* 12px */}

body{
    display: flex; 
    flex-direction: row-reverse; 
    background-color: rgb(21, 25, 27);
}

.navigation-sidebar{
    width: 10rem; 
    color:white; 
    background-color: rgba(152, 152, 152, 0.1);
    backdrop-filter: blur(10px);
    border-radius: 1rem; 
    box-shadow: 0 0px 40px 10px rgba(0, 0, 0, 0.37);
    position: fixed;
    top: 6rem;
}
.navigation-sidebar > a > button{
    color:white;
    background-color: transparent;
    border: none;
    width: 100%;
    font-size: 1.1rem;
    font-weight: 400;
    font-family: sans-serif;
    margin-top: 0.3rem;
    margin-bottom: 0.3rem;
}


.main-div{
    position: absolute;
    top: 1.5rem;  left: 1rem;
    width: calc(100% - 12rem);  
    padding-right: 10rem;  
}
.overview{
    margin-left: 4rem;
    position: relative;
    top: 2rem;
}
.info{
    color: rgba(216, 215, 209, 0.9); 
    padding-left: 5rem; 
    font-weight: 400; 
    font-size: 1.5rem;
}

.movie-poster{
    width: 18rem;
    height: 27rem;
    position: relative;
    border-radius: 0.6rem;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.backdrop-image{
    z-index: -1;
    position: absolute;
    width: calc(100%);  height: 80%;
    transform: translate(0%, 0%);
    border-radius: 1.5rem;

    background-size: 100% auto;
    background-image: url('image.jpg');
    background-repeat: no-repeat;
    mask-image: radial-gradient(circle at top left, rgba(0,0,0,1) 10%, rgba(0,0,0,0) 60%);
    filter: blur(100px);  
    opacity: 0.6;
}


.reviews > #user-review-stat{
    font-size: 1rem;
    font-style: italic;
    opacity: 0.5;
    display: inline-block;
}
.reviews > #otherusers-review-stat{
    font-size: 1rem;
    font-style: italic;
    opacity: 0.5;
    text-align: center;
}

.reviews > .review-card{
    height: fit-content;
    margin-right: 10rem;
    background-color: rgba(0,0,0,0.2);
    backdrop-filter: blur(10px);
}
.reviews > .review-card > .user-and-rating{
    padding-inline: 3rem;
    display: flex; flex-direction: row; justify-content: space-between;
    background-color: rgba(80,80,80,0.1);
}
.reviews > .review-card > .review-text{
    padding-left: 3rem; padding: 1rem;
}









