@import url('https://fonts.googleapis.com/css?family=PT%20Sans:700|PT%20Sans:400');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.cdnfonts.com/css/akira-expanded');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800');
body {
  font-family: 'open sans';
  font-size: 1.4rem;
  color: white;
}

h1, h2, h3, h4, h5 {
  font-family: 'raleway';
  font-weight: 700;
}


h1 {font-size: 4.210rem; /* 67.36px */}

h2 {font-size: 3.158rem; /* 50.56px */}

h3 {font-size: 2.369rem; /* 37.92px */}

h4 {font-size: 1.777rem; /* 28.48px */}

h5 {font-size: 1.333rem; /* 21.28px */}

small {font-size: 0.750rem; /* 12px */}

body{
    display: flex; 
    flex-direction: row-reverse; 
    background-color: rgb(3, 3, 3);
}

.navigation-sidebar-backdrop{
    background-color: rgba(11, 13, 14, 0.3);
    backdrop-filter: blur(100px);
    position: absolute;
    top: 0rem ; right : 0rem; bottom: 10rem;
    width: 10rem ;
    border-top-right-radius: 1rem;
}
.navigation-sidebar{
    width: 10rem; 
    color:white; 
     
    
    border-radius: 1rem; 
    /* box-shadow: 0 0px 40px 10px rgba(0, 0, 0, 0.37); */

    position: fixed;
    top: 6rem;
    z-index: 1;
}
.navigation-sidebar >  button{
    color:white;
    background-color: transparent;
    border: none;
    width: 100%;
    font-size: 1.2rem;
    font-weight: 400;
    font-family: 'raleway';
    margin-top: 0.6rem;
    margin-bottom: 0.6rem;
    text-align: left;
    font-weight: 500;
    margin-left: 0.5rem;
}


.main-div{
    position: absolute;
    top: 1.5rem;  left: 1rem;
    width: calc(100% - 13rem);
    padding-right: 11rem;
    z-index: 0;
    background-color: rgb(21, 25, 27);
    border-radius: 1.5rem;
    box-shadow: 0px 0px 10px, 10px rgba(0,0,0,0.3);
}
.overview{
    margin-left: 4rem;
    position: relative;
    margin-top : 5rem;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: row;
    height: fit-content ;
}
.info{
    color: rgba(216, 215, 209, 0.9); 
    padding-left: 5rem; 
    font-weight: 400; 
    font-size: 1.5rem;
} 

.movie-poster{
   min-width: 18rem;
    height: 27rem;
    position: relative;
    margin-right: 3rem;
    border-radius: 0.6rem;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.quote{
    font-style: italic;
    color: white;
    opacity: 0.8;
    text-align: left;
    font-weight: 500;
    font-family: 'Akira Expanded';
    opacity: 0.8;
    letter-spacing: 0.15rem;
    margin: 0px;
}

.backdrop-image{
    z-index: -1;
    position: absolute;
    width: calc(100%);  height: 80%;
    transform: translate(0%, 0%);
    border-radius: 1.5rem;

    background-size: 100% auto;
    background-image: url('image.jpg');
    background-repeat: no-repeat;
    mask-image: radial-gradient(circle at top left, rgba(0,0,0,1) 10%, rgba(0,0,0,0) 60%);
    filter: blur(100px);  
    opacity: 0.6;
}

.reviews{
    padding-left: 3rem;
    width: calc(100% - 3rem);
}
.review-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.reviews > #user-review-stat{
    font-size: 1rem;
    font-style: italic;
    opacity: 0.5;
    display: inline-block;
}
.reviews > #otherusers-review-stat{
    font-size: 1rem;
    font-style: italic;
    opacity: 0.5;
    text-align: center;
}

.review-card{
    min-height: fit-content;
    max-height: max-content;
    display: flex; justify-content: space-between; flex-direction: column   ;
    width: 95%;
    margin: 2%;
    border-radius: 2rem;
    padding: 0.5rem;
    background-color: rgba(0,0,0,0.2);
    backdrop-filter: blur(10px);
}
.review-card > .user-and-rating{
    padding : 0rem;
    display: flex; flex-direction: row; justify-content: space-between;
}
.review-card > .user-and-rating > p{
    opacity: 0.8;
    border-radius : 1.5rem;
    margin: 0.5rem;
    padding: 0.5rem;
    padding-inline: 1.5rem;
    background-color: rgba(68, 68, 68, 0.1);
    backdrop-filter: blur(10px);
    box-shadow: 0 0 4px 5px rgba(0,0,0,0.17);
}
.review-card > .review-text{
    padding: 0rem; padding-left: 3rem; 
}


.movie-card{
    position: relative;
    min-width: 14rem ;
    
    margin: 0.5rem;     border-radius: 1rem;
    backdrop-filter: blur(20px);
    box-shadow: 0 0px 40px 10px rgba(0,0,0,0.37);
    
    display: flex;      flex-direction: column;

    transition: 0.1s;
}
.movie-card:hover{
    background-color: rgba(36, 36, 36, 0.2);
}
.movie-card:active{
    background-color: rgba(85, 84, 95, 0.4);
}

.movie-card > .image-box{
    position: relative;
    width: 13rem;   height: 19rem;
    top: 0.5rem;    left: 0.5rem;
    
    border-radius: 0.6rem;

    display: flex;  flex-direction: column;
    align-items: center;    overflow: hidden;  
}

.movie-card > .info-box{
    position: relative;
    top: 0rem;  left: 1rem;
}

.movie-card > .info-box > .title{
    margin-top: 1rem; margin-bottom: 0.25rem; margin-inline: 0.5rem;

    color: white;
    font-size: 1.5rem;  font-weight: bold;
}

.movie-card > .info-box > .more-info{
    margin-top: 0.25rem; margin-bottom: 1rem; margin-inline: 0.5rem;

    color: rgb(173, 173, 173);
    font-size: 0.9rem;  
}


.similar-movies{
    display: flex;  flex-direction: row;
    
    overflow: auto;
    
}




