@import url('https://fonts.googleapis.com/css?family=PT%20Sans:700|PT%20Sans:400');

body {
  font-family: 'PT Sans';
}

h1, h2, h3, h4, h5 {
  font-family: 'PT Sans';
  font-weight: 700;
}

html {font-size: 100%;} /* 16px */

h1 {font-size: 4.210rem; /* 67.36px */}

h2 {font-size: 3.158rem; /* 50.56px */}

h3 {font-size: 2.369rem; /* 37.92px */}

h4 {font-size: 1.777rem; /* 28.48px */}

h5 {font-size: 1.333rem; /* 21.28px */}

small {font-size: 0.750rem; /* 12px */}


.movie-card{
    display: flex;
    flex-direction: column;
    position: relative;
    width: 14rem ;
    backdrop-filter: blur(20px);
    border-radius: 1rem;
    box-shadow: 0 0px 40px 10px rgba(0,0,0,0.37);
    margin: 0.5rem;
    transition: 0.1s;
}
.movie-card:hover{
    background-color: rgba(36, 36, 36, 0.2);
}
.movie-card:active{
    background-color: rgba(85, 84, 95, 0.4);
}

.movie-card > .image-box{
    width: 13rem;
    height: 19rem;
    top: 0.5rem;
    left: 0.5rem;
    position: relative;
    border-radius: 0.6rem;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.movie-card > .info-box{
    position: relative;
    left: 1rem;
    top: 0;
}

.movie-card > .info-box > .title{
    color: white;
    font-weight: bold;
    font-size: 1.5rem;
    margin-top: 1rem;
    margin-bottom: 0.25rem;
    margin-inline: 0.5rem;
}

.movie-card > .info-box > .more-info{
    color: rgb(173, 173, 173);
    font-size: 0.9rem;
    margin-top: 0.25rem;
    margin-bottom: 1rem;
    margin-inline: 0.5rem;
    
}

.movie-grid{
    top: 5rem;
    left: 1rem;
    position: relative; 
    display: flex;
    z-index: 1;
    flex-wrap: wrap; 
    width: calc(100% - 2rem);
    justify-content: center;
}

/* Track */
::-webkit-scrollbar {
    width: 6px; /* Width of the scrollbar */
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888; /* Color of the scrollbar handle */
    border-radius: 3px; /* Rounded corners of the handle */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; /* Color of the scrollbar handle on hover */
}
::-webkit-scrollbar-track {
    background: rgba(0,0,0,0); /* Background color of the scrollbar track */
}